/*
Color Used
Primary Color (Marzipan): #f9e09f;
Text Color (Black): #000000;
*/

h1 {
  text-align: center;
  font-size: 42px;
  line-height: 20px;
  font-weight: 100;
  font-family: 'Teko', sans-serif;
}

body {
  background-color: #f9e09f;
  padding: 10px;
}
