:root {
  --bg-color: #f9e09f; /* Marzipan */
  --txt-color: black;
  --btn-color: #29cc9a; /* Teal Crown */
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

/* Center the heading */
.title {
  text-align: center;
}

/* Style the body */
body {
  background-color: var(--bg-color); /* Marzipan */
  padding: 10px;
}

/* Style the button */
.button-class {
  background-color: var(--btn-color); /* Teal Crown */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
  background-color: var(--btn-color); /* Teal Crown */
  color: var(--txt-color);  /* black */
  border: 3px solid var(--btn-color); /* Teal Crown */
}

/* Remove bullet points and center list */
.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Style the footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}
